---
import { Image } from "astro:assets";
import icon_phone from "../assets/icons/icon-phone.png";
import icon_address from "../assets/icons/icon-address.png";
import icon_email from "../assets/icons/icon-email.png";
import ofsted from "../assets/icons/logo-ofsted.png";
import fah from "../assets/icons/logo-fah.png";
---

<footer class="container">
  <div class="banner">Montessori Garden</div>
  <div class="top">
    <div class="contact">
      <div class="row">
        <Image class="icon" src={icon_phone} alt="" width={70} height={70} />
        <div class="text"><a href="tel:02034415860">020 3441 5860</a></div>
      </div>
      <div class="row">
        <Image class="icon" src={icon_address} alt="" width={70} height={70} />
        <div class="text">
          <a target="_blank" href="https://goo.gl/maps/Pt39ZzLNv4tmSTRB7">
            7 Dowdney Close,<br />
            Bartholomew Road,<br />
            London, NW5 2BP
          </a>
        </div>
      </div>
      <div class="row">
        <Image class="icon" src={icon_email} alt="" width={70} height={70} />
        <div class="text">
          <a href="mailto:contact@montessorigarden.co.uk"
            >contact@montessorigarden.co.uk</a
          >
        </div>
      </div>
    </div>
    <hr class="hr-top" />
    <nav class="footer-nav">
      <ul class="nav-links">
        <li><a href="/curriculum">Our Curriculum</a></li>
        <li><a href="/montessori-method">The Montessori Method</a></li>
        <li><a href="/a-typical-day">A Typical Day</a></li>
        <li><a href="/enrolment">Enrolment</a></li>
        <li><a href="/enrolment#fees">Services & Fees</a></li>
        <li><a href="/visit">Visit Us</a></li>
        <li><a href="#">Latest News</a></li>
        <li><a href="/our-staff#careers">Careers</a></li>
        <li>Parents' Corner</li>
        <li>Staff Area</li>
      </ul>
    </nav>
    <hr />
    <div class="awards">
      <Image
        class="awards__logo"
        height={100}
        src={ofsted}
        alt="Ofsted Good Rating"
      />
      <Image
        class="awards__logo"
        width={175}
        style="margin-left: -6px"
        src={fah}
        alt="FAH 5 Rating"
      />
    </div>
  </div>
  <div class="bottom">
    <ul class="bottom-links">
      <li><a href="/sitemap-index.xml">Sitemap</a></li>
      <li><a href="/privacy-policy.html">Privacy Policy</a></li>
      <li>Cookie Policy</li>
    </ul>
    <div>&copy;2023 Erdene Ltd.</div>
    <div>By Norbu with ♡</div>
  </div>

  <style lang="scss">
    @import "../styles/vars.scss";
    $banner: url("../assets/images/footer/banner.webp");

    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: $green;
      font-family: "Mukta";
      color: white;

      @media only screen and (min-width: $lg) {
        padding: 2em 0 1em;
      }

      .banner {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: 100px;
        background-image: $banner;
        background-size: cover;
        background-position: right;
        font-family: "Caveat";
        font-size: 2em;
        font-weight: 700;
        color: $green;

        @media only screen and (min-width: $lg) {
          display: none;
        }
      }

      .top {
        width: 100%;
        flex-direction: row-reverse;

        @media only screen and (min-width: $md) {
          width: $md;
          display: flex;
          justify-content: center;
        }

        .contact {
          flex-direction: column;
          align-items: center;
          gap: 0.5em;
          display: flex;
          margin: 1em;

          .row {
            align-items: center;
            display: flex;
            width: 300px;
          }

          a,
          a:visited {
            color: white;
          }

          .icon {
            width: 40px;
            height: 40px;
            object-fit: contain;
          }

          .text {
            margin-left: 2em;
          }
        }

        hr {
          width: 100%;
          max-width: $md;
          border: 1px solid white;
        }

        hr {
          @media only screen and (min-width: $md) {
            display: none;
          }
        }

        .footer-nav {
          width: 90%;
          max-width: 400px;
          margin: 0 auto;

          .nav-links {
            flex-flow: column wrap;
            column-gap: 1em;
            row-gap: 5px;
            display: flex;
            margin: 1em;
            height: 175px;

            li > a,
            li > a:visited {
              text-decoration: none;
              color: white;
            }

            li {
              transition: transform 200ms ease;
            }

            li:hover {
              transform: scale(110%);
            }
          }
        }
      }

      .awards {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .awards__logo {
          height: 60px;
          object-fit: contain;

          @media only screen and (min-width: $md) {
            height: 80px;
          }
        }

        @media only screen and (min-width: $md) {
          position: absolute;
          margin: 225px;
          padding: 0 1.5em;
          width: $md;
          align-items: flex-start;
          justify-content: space-between;
        }
      }

      .bottom {
        z-index: 2;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        display: flex;
        padding: 1em;
        font-size: 0.825em;

        @media only screen and (min-width: $lg) {
          gap: 0.75em;
        }

        .bottom-links {
          gap: 1em;
          display: flex;

          & a:visited,
          & a {
            color: white;
          }
        }
      }
    }
  </style>
</footer>
