---
import { Image } from "astro:assets";
import activityAtTable from "../assets/images/carousel/activity-at-table.jpg";
import baking from "../assets/images/carousel/baking.jpg";
import cozyCorner from "../assets/images/carousel/cozy-corner.jpg";
import castle from "../assets/images/carousel/castle.jpg";
import climbingTree from "../assets/images/carousel/climbing-tree.jpg";
import dipPainting from "../assets/images/carousel/dip-painting.jpg";
import farm from "../assets/images/carousel/farm.jpg";
import fingerPainting from "../assets/images/carousel/finger-painting.jpg";
import identifyingFlower from "../assets/images/carousel/identifying-flower.jpg";
import inPark from "../assets/images/carousel/in-park.jpg";
import orangeHat from "../assets/images/carousel/orange-hat.jpg";
import paintingTogether from "../assets/images/carousel/painting-together.jpg";
import santaVisit from "../assets/images/carousel/santa-visit.jpg";
import sensingFood from "../assets/images/carousel/sensing-food.jpg";
import storyTime from "../assets/images/carousel/story-time.jpg";
import wateringInGarden from "../assets/images/carousel/watering-in-garden.jpg";
---

<section class="container">
  <swiper-container
    class="swiper-carousel"
    pagination="true"
    navigation="true"
    scrollbar="true"
    speed="500"
    autoplay="true"
  >
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={storyTime}
        width="800"
        alt="group story time is one of the highlights of the morning"
      />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={farm}
        alt="visiting animals at a nearby farm"
        width="800"
      />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={activityAtTable}
        width="800"
        alt="engaged in a fun activity at a table"
      />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image class="img" src={climbingTree} alt="climbing a tree" />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={baking}
        width="800"
        alt="baking can be both educational and fun"
      />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={identifyingFlower}
        width="800"
        alt="what kind of flower sticks up there through the grass?"
      />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image class="img" src={castle} alt="building a castle" />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={dipPainting}
        width="800"
        alt="painting engages not only your imagination but also your hands"
      />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={inPark}
        width="800"
        alt="the children love visiting the nearby park"
      />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={fingerPainting}
        width="800"
        alt="finger painting is one of the more popular activities"
      />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={cozyCorner}
        width="800"
        alt="one of our many cozy corners"
      />
    </swiper-slide>
    <swiper-slide class="swiper-slide" lazy="true">
      <Image
        class="img"
        src={orangeHat}
        width="800"
        alt="one of our children enjoying touching grass"
      />
    </swiper-slide>
    <Image
      class="img"
      src={paintingTogether}
      width="800"
      alt="what's more fun than painting? painting together!"
    />
  </swiper-container>
  <swiper-slide class="swiper-slide" lazy="true">
    <Image
      class="img"
      src={santaVisit}
      width="800"
      alt="santa giving gifts to all the goodest kids"
    />
  </swiper-slide>
  <swiper-slide class="swiper-slide" lazy="true">
    <Image
      class="img"
      src={sensingFood}
      width="800"
      alt="guessing fruit by their shape"
    />
  </swiper-slide>
  <swiper-slide class="swiper-slide" lazy="true">
    <Image
      class="img"
      src={wateringInGarden}
      width="800"
      alt="watering a flower in our garden"
    />
  </swiper-slide>
</section>

<script>
  import { register } from "swiper/element/bundle";
  import type { SwiperOptions } from "swiper";

  register();

  interface SwiperElement extends HTMLElement {
    initialize(): CallableFunction;
  }

  const swiperParams: SwiperOptions = {
    createElements: true,
    rewind: true,
  };

  const swiperCarousel: SwiperElement = document.querySelector(
    ".swiper-carousel"
  )! as SwiperElement;

  Object.assign(swiperCarousel, swiperParams);
  swiperCarousel.initialize();
</script>

<style lang="scss">
  @import "../styles/vars.scss";

  .container {
    padding: 3em 0;

    @media only screen and (min-width: $md) {
      padding-bottom: 3em;
    }

    .heading {
      justify-content: center;
      align-items: center;
      display: flex;
      height: 3em;
      padding: 1em;
      font-size: 2rem;
      color: $green;

      @media only screen and (min-width: $md) {
        justify-content: flex-start;
        padding: 2em;
      }
    }

    .swiper-carousel {
      height: 400px;

      @media only screen and (min-width: $md) {
        height: 500px;
        width: 800px;
      }

      @media only screen and (min-width: $lg) {
        height: 700px;
        width: $lg;
      }
    }

    .swiper-slide {
      .img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

      @media only screen and (min-width: $md) {
        padding: 0 3em;
      }
    }
  }
</style>
