---
import "@fontsource/handlee";
import reviews from "../assets/reviews.json";
---

<section class="container">
  <h1 class="heading">Parents' Thoughts</h1>
  <swiper-container init="false">
    {
      reviews.data
        .filter((review) => review.visible)
        .map((review) => (
          <swiper-slide key={review.id}>
            <p class="text">{review.text}</p>
            {review.url ? (
              <p class="name">
                <a target="_blank" href={review.url}>
                  {review.name}
                </a>
              </p>
            ) : (
              <p class="name">{review.name}</p>
            )}
          </swiper-slide>
        ))
    }
  </swiper-container>
</section>

<script src="../scripts/swiper.js"></script>

<style lang="scss">
  @import "../styles/vars.scss";

  .container {
    flex-direction: column;
    display: flex;
    height: 90vh;
    background-color: $green;
    overflow: hidden;

    .heading {
      padding: 2rem;
      text-align: center;
      font-size: 2rem;
      color: white;
    }

    swiper-container {
      width: 85vw;
    }

    swiper-slide {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;
      display: flex;
      border: 1px solid lightgrey;
      border-radius: 15px;
      padding: 2em;
      background-color: $purple;
      color: white;

      a,
      a:visited {
        color: white;
      }

      .text {
        line-height: 1.25em;
        font-family: "Handlee";
      }
    }
  }
</style>
