---
import "@fontsource/handlee";
import reviews from "../assets/data/reviews.json";
---

<section class="container">
  <swiper-container class="swiper-testimonials" init="false">
    {
      reviews.data
        .filter((review) => review.visible)
        .map((review) => (
          <swiper-slide class="swiper-testimonials__slide" key={review.id}>
            <p class="text">{review.text}</p>
            {review.url ? (
              <p class="name">
                <a target="_blank" href={review.url}>
                  {review.name}
                </a>
              </p>
            ) : (
              <p class="name">{review.name}</p>
            )}
          </swiper-slide>
        ))
    }
  </swiper-container>
</section>

<script>
  import type { SwiperOptions } from "swiper";
  import { register } from "swiper/element/bundle";

  register();

  interface SwiperElement extends HTMLElement {
    initialize(): CallableFunction;
  }

  const swiperParams: SwiperOptions = {
    createElements: true,
    effect: "cards",
    rewind: true,
  };

  const swiper: SwiperElement = document.querySelector(
    ".swiper-testimonials"
  )! as SwiperElement;

  Object.assign(swiper, swiperParams);
  swiper.initialize();
</script>

<style lang="scss">
  @import "../styles/vars.scss";

  .container {
    overflow: hidden;
    padding: 3rem 0 0;
    background-color: $green;

    .heading {
      padding: 2rem;
      text-align: center;
      font-size: 2rem;
      color: $green;
    }

    .swiper-testimonials {
      width: 85vw;
    }

    .swiper-testimonials__slide {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;
      display: flex;
      border: 1px solid lightgrey;
      border-radius: 15px;
      padding: 2em;
      background-color: $purple;
      color: white;
      min-height: 400px;

      a,
      a:visited {
        color: white;
      }

      .text {
        line-height: 1.25em;
        font-family: "Handlee";
      }

      .name {
        margin-top: 1em;
      }
    }
  }
</style>
