---
import "@fontsource/handlee";
import reviews from "../assets/data/reviews.json";
---

<aside class="container">
  <swiper-container class="swiper-testimonials" init="false">
    {
      reviews.data
        .filter((review) => review.visible)
        .map((review) => (
          <swiper-slide class="swiper-testimonials__slide" key={review.id}>
            <p class="text">{review.text}</p>
            {review.url ? (
              <p class="name">
                <a target="_blank" href={review.url}>
                  {review.name}
                </a>
              </p>
            ) : (
              <p class="name">{review.name}</p>
            )}
          </swiper-slide>
        ))
    }
  </swiper-container>
  <div class="footnote">
    <p>
      Read more: <a
        target="_blank"
        href="https://www.daynurseries.co.uk/daynursery.cfm/searchazref/65432208703#reviews"
        >DayNurseries</a
      > & <a target="_blank" href="https://www.facebook.com/MontessoriGrdn/"
        >Our Facebook</a
      >
    </p>
  </div>
</aside>

<script>
  import type { SwiperOptions } from "swiper";
  import { register } from "swiper/element/bundle";
  register();

  interface SwiperElement extends HTMLElement {
    initialize(): CallableFunction;
  }

  const swiperParams: SwiperOptions = {
    createElements: true,
    effect: "cards",
    rewind: true,
  };

  const swiper: SwiperElement = document.querySelector(
    ".swiper-testimonials"
  )! as SwiperElement;

  Object.assign(swiper, swiperParams);
  swiper.initialize();
</script>

<style lang="scss">
  @import "../styles/vars.scss";

  .container {
    overflow: hidden;
    padding: 2em 0;
    background-color: $green;

    .heading {
      padding: 2rem;
      text-align: center;
      font-size: 2rem;
      color: $green;
    }

    .swiper-testimonials {
      padding: 1em;

      @media only screen and (min-width: $sm) {
        width: 400px;
      }

      @media only screen and (min-width: $md) {
        width: 700px;
      }
    }

    .swiper-testimonials__slide {
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;
      display: flex;
      border: 1px solid lightgrey;
      border-radius: 15px;
      padding: 2em;
      background-color: $purple;
      color: white;
      min-height: 350px;

      a,
      a:visited {
        color: white;
      }

      .text {
        line-height: 1.25em;
        font-family: "Handlee";

        @media only screen and (min-width: $md) {
          font-size: 1.25em;
        }
      }

      .name {
        margin-top: 1em;
        font-family: "Caveat";
        font-size: 1.25em;
      }
    }

    .footnote {
      text-align: center;
      width: 350px;
      margin: 0 auto;
      color: white;
      font-family: "Lato";

      & a,
      & a:visited {
        color: white;
      }
    }
  }
</style>
